<div class="footer">
  <div id="quick-links">
    <ul class="text-center list-unstyled list-inline">
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'My Dashboard', dashboard_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
      <ul class="text-center list-unstyled list-inline">
        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-facebook-f"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-twitter"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();"><i class="fab fa-instagram"></i></a></li>
        <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
    </hr>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center ">
      <p>Site created by Celia, Dania, Julia and Emily</p>
    </div>
    </hr>
  </div>
</div>


