<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path "skate-park.jpg" %>')">
  <div class="banner-content">
    <h1>RENT YOUR SKATE</h1>
    <p>Unique sport experiences</p>
    <a class="btn btn-primary btn-lg">Find a skate</a>
  </div>
</div>

<div class="wrapper-grey padded">
  <div class="container">
    <h2 class="text-center">Recommandations</h2>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-paris.jpg');">
          <div class="card-category">Skate</div>
          <div class="card-description">
            <h2>Seb's skate</h2>
            <p>A beautiful skate</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-brussels.jpeg');">
          <div class="card-category">Trotinette</div>
          <div class="card-description">
            <h2>Anne's trotinette</h2>
            <p>Lovely trotinette</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('images/card-london.jpeg');">
          <div class="card-category">Palme</div>
          <div class="card-description">
            <h2>Romain's palme</h2>
            <p>Nice palme in Piccadilly</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
    </div>
  </div>
</div>

