.address-form {
  color: black;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  text-align: initial;
  #submit {
    background-color: #2981D0;
    color: white !important;
    font-weight: lighter !important;
    border: none;
    border-radius: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 4px;
    &:hover {
      opacity: 0.6;
    }
  }
}

.form-home {
  display: flex;
}

.custom-margin {
  margin-right: 20px;
}

.custom-font-size {
  font-size: 15px;
}

#filters {
  margin-left: 3px;
}
