.container-dashboard {
  margin: 20px;
  margin-bottom: 40px;
}

.dash-h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.dash-ul {
  background: white;
  padding: 5px 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  margin-top: 28px;
}

li.message {
  background-color: white;
  border-left: 7px solid #aaa9a9;
  height: 100px;
  padding-left: 0px;
  margin: 2px;
}

img.avatar-large {
  height: 100px;
  width: auto;
}

.message {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.message:last-child {
  border-bottom: none;
}
.message-body {
  flex-grow: 1;
}
.message-name {
  padding-left: 26px;
  min-width: 200px;
}
.message-name h3 {
  font-size: 13px;
  margin-bottom: 0px;
}
.message-name p {
  font-size: 13px;
  font-weight: lighter;
  opacity: 0.6;
  margin-top: 5px;
}
.message-body {
  padding-left: 10px;
  font-size: 13px;
  color: rgba(0,0,0,0.7);
  max-width: 370px;
}
.message-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
}
.message-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}
.message-body p {
  margin: 6px 0;
}
.message-status {
  font-size: 14px;
  font-weight: bold;
  padding-left: 40px;
  p {
    margin: 1px;
  }
}

#accept-btn {
  &:hover {
    color: #5cc14f;
  }
}

#reject-btn {
  &:hover {
    color: red;
  }
}

.status.accepted {
  color: #04A366;
}
.status.rejected {
  color: red;
}
.status.Pending {
  color: lightgrey;
}
.border-pencil {
  border-radius: 50%;
  border: 1px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  position: relative;
}
.pencil {
  position: absolute;
  top: 7px;
  right: 7px;
}

