body {
  font-size: 14px;
  line-height: 1.8;
  color: #222;
  font-weight: 400;
  font-family: 'Montserrat';
}

.container-form {
  width: 58%;
  margin: auto;
}

.container {
  width: 660px;
  position: relative;
  margin: 0 auto;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-content {
  background: #fff;
  border-radius: 10px;
  padding: 50px 65px;
  margin-top: 30px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px; }

.loginhere {
  color: #555;
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 5px; }

.loginhere-link {
  font-weight: 700;
  color: #222;
}

label.form-check-label.boolean.optional {
  padding-left: 10px;
}

.customize-button {
    background-color: #9dbedd;
}
