.mapboxgl-popup {
  max-width: 290px;
}

.mapboxgl-popup-content {
  background-position: center !important;
  background-size: cover !important;
  background-color: white !important;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  border-radius: 5px !important;
  padding: 0px !important;
  color: white !important;
}

.info-card{
  padding: 0px 7px;
  color: black;
  background-color: white;
  padding-bottom: 1px;
  position: relative;
  margin-bottom: 5px;
}

.p {
  margin: 0px !important;
}

.p:first-child {
  margin-top: 5px !important;
}

.h5{
  padding: 18px !important;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

#map {
  flex: 0 0 450px;
  position: sticky !important;
  top: 0;
}

.cards-container {
  flex: 0 0 60%;
  margin-left: 55px;
}

.card-img {
  padding-top: 1px;
  border-radius: 5px;
  background: center center no-repeat;
}

.card-price {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  padding: 5px;
  top: -10px;
  right: 10px;
  border: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
  font-weight: bold;
}
