.wrapper-white {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.list-booking {
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.list-booking p {
  margin-bottom: 20px;
}

.container-booking {
  background-color: white;
  padding: 0px 50px;
  margin: 25px 220px 89px 45px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.show-h1 {
  margin: 140px 0 0 124px;
}

.list-booking-item-euro {
  flex: 0 0 50%;
  padding-right: 10px;
  padding-top: 20px;
}

.list-booking-item-description {
  flex: 0 0 50%;
  border-right: 1px solid #F4F4F4;
  padding-right: 10px;
  padding-top: 20px;
}


.list-booking img {
  padding-bottom: 20px;
  width: 30px;
}

.list-booking p {
  margin: 0px;
}

.container-booking label {
  color: white;

}

form#new_booking {
  margin-top: -30px;
  padding-bottom: 30px;
}

input#booking_start_day {
  width: 100px;
  font-size: 14px;
  border-radius: 15px;

}

input#booking_end_day {
   width: 100px;
   font-size: 14px;
   border-radius: 15px;
}

input.btn-medium {
  padding: 7px 12px 7px 12px;
  position: absolute;
  top: 97px;
  right: 2px;
}


.customize-form {
  position: relative;
  padding-left: 62px;
  padding-top: 10px;
}

#booking-message {
  margin-top: 10px;
  font-size: 14px;
  border-radius: 15px;
  width: 205px;
  height: 80px;
  background-color: #eeeeee;
  resize: none;
}

.center-text {
  text-align: center;
}
